extends layout

block content
  div.indexContainer
    h1 Welcome to Simple Issue Tracker Express Starter Application
    h2 Want to how issues are managed?
    button.mdc-button.mdc-button--raised
      a(href="/issues") Go to Issues Dashboard
    small
      | Powered by 
      a(href="https://material.io/" target="_blank" rel="noopener noreferrer") Google Material Design Components
